[Unit]
Description=Megamek stable server
Documentation=http://www.megamek.info/
After=network.target

[Service]
WorkingDirectory=/home/someuser/astech/
ExecStart=/usr/java/default/bin/java -jar MegaMek.jar -dedicated -port 3477
&
User=mekstable
Type=simple

[Install]
WantedBy=default.target

