[Unit]
Description=Megamek stable server
Documentation=http://www.megamek.info/
After=network.target

[Service]
WorkingDirectory=/home/mekstable/BATTLETECH/stable/
ExecStart=/usr/java/default/bin/java -jar MegaMek.jar -dedicated -port 2346 &
User=mekstable
Type=simple

[Install]
WantedBy=default.target

